src/Bonsai.Extensions.DependencyInjection/.idea/.idea.Bonsai.Extensions.DependencyInjection/riderModule.iml
src/Bonsai.Extensions.DependencyInjection/.idea/
src/Bonsai.Extensions.DependencyInjection/Bonsai.Extensions.DependencyInjection/obj/
src/Bonsai.Extensions.DependencyInjection/Bonsai.Extensions.DependencyInjection.sln.DotSettings.user
