src/Bonsai.Extensions.DependencyInjection/.idea/.idea.Bonsai.Extensions.DependencyInjection/riderModule.iml
src/Bonsai.Extensions.DependencyInjection/.idea/
src/Bonsai.Extensions.DependencyInjection/Bonsai.Extensions.DependencyInjection/obj/
src/Bonsai.Extensions.DependencyInjection/Bonsai.Extensions.DependencyInjection.sln.DotSettings.user
src/Bonsai.Extensions.DependencyInjection/.vs/Bonsai.Extensions.DependencyInjection/v16/Server/sqlite3/storage.ide-shm
src/Bonsai.Extensions.DependencyInjection/.vs/
src/Bonsai.Extensions.DependencyInjection/Bonsai.Extensions.DependencyInjection/bin/Debug/netstandard2.0/Bonsai.Extensions.DependencyInjection.deps.json
src/Bonsai.Extensions.DependencyInjection/Bonsai.Extensions.DependencyInjection/bin/
src/Bonsai.Extensions.DependencyInjection/TestApp/bin/
src/Bonsai.Extensions.DependencyInjection/TestApp/obj/
src/Bonsai.Extensions.DependencyInjection/TestApp/TestApp.csproj.user
